<br>
<div class="row">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <%= form_tag(users_path, :method => "get", id: "search-form") do %>

            <div class="small-11 columns">
              <%= text_field_tag :search, params[:search], placeholder: "Search", name: 'search' %>
            </div>
            <div class="small-1 columns">
              <%= submit_tag "Search", :title => nil %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% binding.pry %>
<% if @users%>
  <div>
    <% @users.each do |user| %>
      <div><%= user.user_name %></div>
    <% end %>
  <div>
<% end %>

