<div class="row ">
  <div class="small-12 columns">
    <div class="welcome_bg">
    </div>
  </div>
  <div class="photo_rotate_div">
    <div id="polaroid">
      <div class="cadre">
        <div class="photo">
          <a class="shadow">
            <img src="https://cdn.tutsplus.com/webdesign/uploads/2013/09/fostr.jpg" alt="Ma premiere photo">
          </a>
          <span>Web Design</span>
        </div>
      </div>

      <div class="cadre second">
        <div class="photo">
          <a class="shadow"><img src="http://paidonlinewritingjobs.com/wp-content/uploads/2011/11/freelance_writer_work_at_home.jpg" alt="Ma deuxieme photo"></a>
          <span>Personal Assistant</span>
        </div>
      </div>

      <div class="cadre troisieme">
        <div class="photo">
          <a class="shadow"><img src="http://www.cruiseshipjob.com/Cruise-ship-head-waiter-2.jpg" alt="Ma troisieme photo"></a>
          <span>On Call Employee</span>
        </div>
      </div>

      <div class="cadre second">
        <div class="photo">
          <a class="shadow"><img src="http://us.123rf.com/450wm/yurattt/yurattt1202/yurattt120200219/12484405-a-man-working-in-special-protective-clothing-and-helmet.jpg" alt="Ma troisieme photo"></a>
          <span>Manual Labor</span>
        </div>
      </div>
    </div>

    <div class="footer">
      <div style="color: white; text-align: center; margin-top: 20px ">
        <img src="http://www.launchacademy.com/assets/logo.png">
        <div>
          <br>
          Made by Louis Hoang @ 2014<br>
          Special thanks to Emy Hoang, Eric Kelly, Faizaan Shamsi.<br>
          <hr>
          Email: louishoang8899@gmail.com <br>
          Github: https://github.com/louishoang <br>
          Linkedin: https://www.linkedin.com/in/louishoang88<br><br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="trans_box">
    <span id="welcome_text">Find A Freelancer</span>
  </div>
</div>
